@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-scheme: light;
}

* {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #EAECED;
}

.btn {
  border-radius: 1.5rem;
}

.btn-1 {
 
 border: transparent;
 box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
 background: dodgerblue;
 color: white;
}

.btn-1:hover {
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

button:active {
 transform: translate(0em, 0.2em);
}
.text-1 {
  font-weight: bolder;
  font-size: 2.25rem ;
  color: #03373D;
}
.text-2 {
  font-weight: bolder;
  font-size: 1.75rem ;
  color: #03373D;
}
.text-3 {
  font-weight: normal;
  font-size: 1.15rem ;
  color: #03373D;
}

.btn-slider {
  background: transparent;
  color: #03373D;
  transition: all 0.3s ease;
  border-radius: 1.5rem;
  margin:1rem;
}

.btn-slider:checked {
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
  color: white;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

